<div class="ui inverted menu">
  <a class="item custom_prop" routerLinkActive="active" routerLink="/sensor-node">
    <i class="home icon"></i>
    WSN Design Studio
  </a>
  <a class="item"   routerLinkActive="active" routerLink="/network-config">
    Configure Network
  </a>
  <a class="item "  routerLinkActive="active" routerLink="/add-microcontroller/basic">
    Add Microcontroller
  </a>
  <a class="item "  routerLinkActive="active" routerLink="/add-sensor/basic">
    Add Add Sensor
  </a>
  <a class="item "  routerLinkActive="active" routerLink="/add-network/basic" >
    Add Network Technology
  </a>
  <a class="item" routerLinkActive="active" routerLink="/about">
    About Us
  </a>
</div>
