<div class="ui container">

  <br>
  <br>
  <div class="image content">

    <div class="ui small circular border spaced image">
      <img src="./../../assets/image/about/asela.png"
           data-title="Asela Dasanayaka"
           data-content="Worked on Front-end"
           class="ui image"
           data-position="top left"
      >
    </div>
    <div class="ui small circular border spaced image">
      <img src="./../../assets/image/about/nadith.jpg"
           data-title="Nadith Premerathne"
           data-content="Worked on back-end"
           class="ui image"
           data-position="top left"
      >
    </div>
    <div class="ui small circular border spaced image">
      <img src="./../../assets/image/about/rosen.jpg"
           data-title="Rosen Silva"
           data-content="Designed Architecture"
           class="ui image"
           data-position="top left"
      >
    </div>
    <div class="description">
      <br>
      <br>
      <div class="ui header">Meet the team !</div>
      <h5>We are group of undergraduates of faculty of engineering, University of Peradeniya.</h5>
    </div>
  </div>
</div>

